@import "fonts";

body {
  font-family: Lato;
  font-weight: 500;
  font-size: 32px;
  color: white;
  background-color: black;

  background: url('@img/logo.png') 0 0;

}

@media (max-width: 768px) {
  span {
    font-size: 32px;
  }
}

@media (max-width: 768px) {
  span {
    color: green;
  }
}